.button {
  align-items: center;
  background-color: var(--color-button-background);
  border: var(--border-width) solid var(--color-button-border);
  border-radius: var(--border-radius);
  color: var(--color-button-text);
  cursor: pointer;
  display: inline-flex;
  padding: var(--space-sm) var(--space-md);
  transition-duration: var(--transition-duration);
  transition-property: filter;
  transition-timing-function: var(--transition-timing-function);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:not(:disabled):hover {
  filter: brightness(calc(1 + var(--alpha)));
}

.button.icon-button {
  padding: var(--space-sm);
}

.button.light-button {
  background-color: var(--color-light-text);
  border-color: var(--color-light-text);
  color: var(--color-dark-text);
}

.button.light-button:not(:disabled):hover {
  filter: brightness(calc(1 - var(--alpha)));
}

.button:has(i) span {
  margin-left: var(--space-sm);
}