.button {
  --color-button-background: transparent;
  --color-button-border: var(--color-border);
  --color-button-hover-background:
    var(--color-interactive-element-hover-background);
  --color-button-hover-border: var(--color-border);
  --color-button-text: var(--color-text-primary);

  align-items: center;
  background-color: var(--color-button-background);
  border: var(--border-width) solid var(--color-button-border);
  border-radius: var(--border-radius);
  color: var(--color-button-text);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-md);
  padding: var(--space-xs);
  transition-duration: var(--transition-duration);
  transition-property: background-color, border-color;
  transition-timing-function: var(--transition-timing-function);
}

.button:not(:disabled):hover {
  background-color: var(--color-button-hover-background);
  border-color: var(--color-button-hover-border);
}

.button:disabled {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}

.button:has(i) span {
  margin-left: var(--space-xs);
}

.button.primary-button {
  --color-button-background: var(--color-brand-primary);
  --color-button-border: var(--color-brand-primary);
  --color-button-hover-background: var(--color-brand-primary-shade);
  --color-button-hover-border: var(--color-brand-primary-shade);
  --color-button-text: var(--color-light-text-primary);
}