.radio-button,
.radio-button:not(:checked) ~ .fa-dot-circle,
.radio-button:checked ~ .fa-circle {
  display: none;
}

.radio-button-label {
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-flex;
  padding: var(--space-xs);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
  transition-timing-function: var(--transition-timing-function);
}

.radio-button-label:not(:has(.radio-button:disabled)):hover,
.radio-button-label:has(.radio-button:checked) {
  background-color: var(--color-selection-control-hover-background);
}

.radio-button-label:has(.radio-button:disabled) {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}

.radio-button-label span {
  margin-left: var(--space-xs);
}

.radio-button-label.primary-radio-button {
  background-color: var(--color-primary-element-background);
  color: var(--color-primary-element-text);
}

.radio-button-label.primary-radio-button:not(:has(.radio-button:disabled)):hover,
.radio-button-label.primary-radio-button:has(.radio-button:checked) {
  background-color: var(--color-primary-element-border);
}