.radio-button-label {
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-flex;
  padding: var(--space-sm);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
  transition-timing-function: var(--transition-timing-function);
}

.radio-button-label:has(.radio-button:disabled) {
  cursor: not-allowed;
  opacity: 0.5;
}

.radio-button-label:not(:has(.radio-button:disabled)):hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.radio-button {
  display: none;
}

.radio-button:not(:checked) ~ .fa-dot-circle {
  display: none;
}

.radio-button:checked ~ .fa-circle {
  display: none;
}

.radio-button-label span {
  margin-left: var(--space-sm);
}