.text-input {
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color-text-primary);
  font-size: var(--font-size-md);
  outline: none;
  padding: var(--space-xs) var(--space-sm);
  transition-duration: var(--transition-duration);
  transition-property: border-color;
  transition-timing-function: var(--transition-timing-function);
}

.text-input::placeholder {
  color: var(--color-text-secondary);
}

.text-input:not(:disabled):focus {
  border-color: var(--color-brand-primary);
}

.text-input:disabled {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}