:root {
  --border: var(--border-width) solid var(--color-border);
  --border-radius: 2px;
  --border-width: 1px;

  --color-clickable-input-hover-background: rgba(var(--color-text-rgb), 0.1);
  --color-primary: hsl(180, 100%, 25%); /* teal */
  --color-primary-shade: hsl(180, 100%, 20%);
  --color-primary-tint: hsl(180, 100%, 30%);

  --font-family: "Roboto", sans-serif;
  --space-lg: calc(var(--space-md) * 1.5); /* 24px */
  --space-md: 1rem; /* 16px */
  --space-sm: calc(var(--space-md) * 0.5); /* 8px */
  --transition-duration: 0.25s;
  --transition-timing-function: ease-in-out;

  background-color: var(--color-background-primary);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
}

:root[data-color-scheme="light"] {
  --color-background-primary: hsl(0, 0%, 85%);
  --color-background-secondary: hsl(0, 0%, 90%);
  --color-border: hsl(0, 0%, 70%);
  --color-button-hover-background: var(--color-primary-shade);
  --color-text: black;
  --color-text-rgb: 0, 0, 0;

  color-scheme: light;
}

:root[data-color-scheme="dark"] {
  --color-background-primary: hsl(0, 0%, 15%);
  --color-background-secondary: hsl(0, 0%, 20%);
  --color-border: hsl(0, 0%, 35%);
  --color-button-hover-background: var(--color-primary-tint);
  --color-text: white;
  --color-text-rgb: 255, 255, 255;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

/*
:root[data-color-scheme="light"] {
  --color-clickable-hover-background: rgba(var(--color-dark-text-rgb), 0.1);
  --primary-button-hover-lightness: 20%;
}

:root[data-color-scheme="dark"] {
  --color-clickable-hover-background: rgba(var(--color-light-text-rgb), 0.1);
  --primary-button-hover-lightness: 30%;
}
*/