:root {
  --alpha: 0.15;
  --border-radius: 2px;
  --border-width: 1px;
  --color-button-background: var(--color-primary);
  --color-button-border: var(--color-primary);
  --color-button-text: var(--color-light-text);
  --color-dark-text: rgb(var(--color-dark-text-rgb));
  --color-dark-text-rgb: 48, 48, 48;
  --color-light-text: rgb(var(--color-light-text-rgb));
  --color-light-text-rgb: 255, 255, 255;
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-rgb: 0, 128, 128;
  --color-secondary: rgb(var(--color-secondary-rgb));
  --color-secondary-rgb: 252, 228, 65;
  --font-family: sans-serif;
  --space-md: 1rem;
  --space-sm: 0.5rem;
  --transition-duration:0.25s;
  --transition-timing-function: ease-in-out;

  background-color: var(--color-background-primary);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background-primary: rgb(240, 240, 240);
    --color-background-secondary: rgb(255, 255, 255);
    --color-clickable-hover-background: rgba(var(--color-dark-text-rgb), var(--alpha));
    --color-text: var(--color-dark-text);

    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-primary: rgb(48, 48, 48);
    --color-background-secondary: rgb(64, 64, 64);
    --color-clickable-hover-background: rgba(var(--color-light-text-rgb), var(--alpha));
    --color-text: var(--color-light-text);

    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}