@import url("./base.css");

* {
  font-size: 1.25rem;
}

section {
  background-color: var(--color-background-secondary);
  border-radius: 2px;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}