@import url("./base.css");

section {
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  margin: 48px;
  padding: 24px;
  text-align: center;
}

#toggle-color-scheme {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  padding: 0;
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translate(-2%, -50%);
}