@import url("./base.css");

:root {
  --px: 24px;
}

* {
  font-size: var(--px);
}

section {
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  margin: calc(var(--px) * 2);
  padding: var(--px);
  text-align: center;
}

#toggle-color-scheme {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: var(--px);
  padding: 0;
  position: fixed;
  right: calc(var(--px) / 2);
  top: calc(var(--px) / 2);
}